<hr class="intro-divider">
<p class="lead">Contact us:</p>
<ul class="list-inline intro-social-buttons">
  <li><a href="mailto:louiserochemcnamara@eircom.net" title="Click to email me - opens your default email programme" class="btn btn-default btn-lg">
  <i class="fa fa-envelope fa-fw"></i>
      <span class="network-name">Email Me</span></a> </li>
  <li><a href="https://www.facebook.com/LouiseRocheMcnamara" title="Click here to follow me on Facebook" class="btn btn-default btn-lg">
  <i class="fa fa-facebook fa-fw"></i>
      <span class="network-name">Follow me on Facebook</span></a> </li>
</ul>
