---
layout: frontpage
title: Template Site
---
<section class="intro">
     <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
            <!--<div class="transparent-background">-->
              {% markdown frontpage/hero-heading.md %}
              {% markdown frontpage/hero-subheading.md %}
              <p class="intro-text">
              <i class="fa fa-check"></i>&nbsp;Excellent quality hardwood & softwood<br>
              <i class="fa fa-check"></i>&nbsp;Best prices - excellent value<br>
              <i class="fa fa-check"></i>&nbsp;Prompt & courteous delivery service<br>
              <i class="fa fa-check"></i>&nbsp;Split logs - ready to burn</p>
              <div class="page-scroll"> <a href="#service" class="btn btn-circle">
                  <i class="fa fa-angle-double-down"></i> </a> </div>
             <!--</div><!-- Transparent Background -->
            </div>
          </div>
        </div>
      </div>
</section>

    <section id="service" class="container content-section text-center">
      <div class="row">
      	<div class="container">
      	<!-- Alt layout <div class="col-lg-5 col-sm-6 col-xs-6"></div>
      	<div class="col-lg-5 col-lg-offset-2 col-sm-6 col-xs-6"></div>-->
        <div class="col-lg-8 col-lg-offset-2">
        	{% markdown frontpage/services.md %}
          <!--<img class="img-responsive" src="assets/images/img1.jpg" alt="">-->
          <div class="page-scroll"><a href="#delivery" class="btn btn-circle"><i class="fa fa-angle-double-down"></i></a></div>
         </div>
         </div>
      </div>
    </section>
    <section id="hire" class="content-section text-center">
      <div class="hire-section">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2 transparent-background cw-big-padding">
            {% markdown frontpage/second-heading.md %}
            {% markdown frontpage/second-text.md %}
           	<div id="grid">
						<div class="thumbnail">
						<h4>The Best Coffee</h4>
							<a id="modal-1" href="#modal-container-1" data-toggle="modal"><img src="assets/images/img5.jpg"></a>
							<div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 class="modal-title" id="myModalLabel">
												Perfectly Brewed
											</h3>
										</div>
										<div class="modal-body">
											<!--<div class="thumbnail">-->
												<img class="img-responsive" alt="log splitter" src="assets/images/img6.jpg">
												<div class="caption">
													<p>If you have a lot of timber to split, there is no substitute for a good-quality log splitter.</p>
													<p>Simply load the splitter with a ring of timber and engage the ram. This pushes the wood aganst a spike, splitting the ring effortlessly.</p>
													<p>Using a splitter takes half the time required to split timber rings by axe, and is way less back-breaking!</p>
												</div>
											<!--</div>-->
										</div>
										<div class="modal-footer">
											 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											 <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-2" href="#modal-container-2" data-toggle="modal">Splitter Hire Details</button>
										</div>
									</div>
								</div>
							</div>
						</div><!-- End Thumbnail -->
		            <div class="thumbnail">
		            <h4>Pleasant Surroundings</h4>
		            <a id="modal-2" href="#modal-container-2" data-toggle="modal"><img src="assets/images/img8.jpg"></a>
						<div class="modal fade" id="modal-container-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 class="modal-title" id="myModalLabel">
											Splitter Hire
										</h3>
									</div>
									<div class="modal-body">
										<!--<div class="thumbnail">-->
											<img class="img-responsive" alt="log splitter" src="assets/images/img7.jpg">
											<div class="caption">
												<p>
													Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
												</p>
											</div>
										<!--</div>-->
									</div>
									<div class="modal-footer">
										 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>

							</div>

						</div>
		            </div>
					</div><!-- Grid -->
				<a href="tel:+353870546722" class="mobile-tel click-phone btn btn-default btn-lg"><i class="fa fa-phone"></i>&nbsp;Click to Call</a>
            <div class="desktop-tel btn btn-default btn-lg"><i class="fa fa-phone"></i>&nbsp;For Splitter Hire Call: 087 054 6722</div>
	         <div class="page-scroll"> <a href="#contact" class="btn btn-circle">
                  <i class="fa fa-angle-double-down"></i> </a> </div>
            </div>
        </div>
        </div>
      </div>
    </section>
    <section id="delivery" class="content-section text-center">
      <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 transparent-background cw-big-padding">
            {% markdown frontpage/delivery.md %}
            </div>
        </div>
        </div>
      </div>
    </section>
    <section id="hire" class="content-section text-center">
      <div class="hire-section">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2 transparent-background cw-big-padding">
          <h2>Contact Us</h2>

          <p>Follow us on Facebook for the best deals on firewood in Co. Clare.
          <ul class="list-inline banner-social-buttons">
            <li><a href="https://www.facebook.com/pages/Midwestfirewoodie" class="btn btn-default btn-lg">
            <i class="fa fa-twitter fa-fw"></i><span class="network-name">Facebook</span></a>
            </li>
          </ul></p>
          <a href="tel:+353870546722" class="mobile-tel click-phone btn btn-default btn-lg"><i class="fa fa-phone"></i>&nbsp;Click to Call</a>
          <div class="desktop-tel btn btn-default btn-lg"><i class="fa fa-phone"></i>&nbsp;Call Now: 087 054 6722</div>

								</div>

							</div>

						</div>
		            </div>
					</div><!-- Grid -->
				<a href="tel:+353870546722" class="mobile-tel click-phone btn btn-default btn-lg"><i class="fa fa-phone"></i>&nbsp;Click to Call</a>
            <div class="desktop-tel btn btn-default btn-lg"><i class="fa fa-phone"></i>&nbsp;For Splitter Hire Call: 087 054 6722</div>
	         <div class="page-scroll"> <a href="#contact" class="btn btn-circle">
                  <i class="fa fa-angle-double-down"></i> </a> </div>
            </div>
        </div>
        </div>
      </div>
    </section>
    <section id="contact" class="container content-section text-center">
      <div class="row">
	        <div class="col-lg-8 col-lg-offset-2">
	        {% markdown frontpage/contact.md %}
	        </div>
        </div>
      </div>
    </section>
