  <section id="footer" class="container">
	    <div class="row">
	    	<div class="col-md-12">
	    		<p>Website by <a href="http://carawebs.com">Carawebs</a></p>
	    	</div>
	    </div>
	    <div class="go_top"><p>Back to Top<i class="fa fa-angle-double-up"></i></p></div>
	 </section>
   <!-- Custom JS -->
   <!--<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
   <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
   <script src="{{ site.baseurl }}/assets/js/grayscale.js"></script>
   <script src="http://localhost:35729/livereload.js"></script>
